@use '../../styles/variables' as *;

.container {
    display: flex;
    align-items: start;
    gap: 5rem;
    width: 60%;
    margin: 0 auto;
    animation: $fade-in-animation;

    aside {
        border: 1px solid $dark-color3;
        border-radius: $border-radius-big;
        padding: 1.2rem 2rem 1.2rem 1rem;
        flex-shrink: 0;
    }
}