@use 'variables' as *;

body {
    background-color: rgb(32, 32, 32);
}

header {
    text-align: center;
    margin-bottom: 3rem;
    
    h1 {
        position: absolute;
        font-weight: lighter;
        transition: all 0.4s;
        color: $text-main;
        
        &[data-home=true] {
            top: 38%;
            left: 50%;
            transform: translateX(-50%);
            font-size: 6rem;
            cursor: default;
        }

        &[data-home=false] {
            top: 2rem;
            left: 2rem;
            font-size: 1.5rem;
        }
        
        a {
            color: $text-main;
        }
    }

    p {
        position: absolute;
        transition: all 0.4s;
        color: $text-secondary;
        font-style: italic;
        font-size: 1rem;
        cursor: default;

        &[data-home=true] {
            top: 49%;
            left: 50%;
            transform: translateX(-50%);
        }

        &[data-home=false] {
            top: 3rem;
            left: 2rem;
            opacity: 0;
            user-select: none;
        }

    }

    nav {
        scroll-margin-top: 1rem;
        transition: all 0.4s;
        width: fit-content;
        margin: 0 auto;

        &[data-home=true] {
            transform: translateY(54vh);
        }

        &[data-home=false] {
            margin-top: 2rem;
        }

        ul {
            display: flex;
            gap: 1.5rem;
            font-size: 2rem;
            
            a {
                color: $text-secondary;
                transition: all 0.2s;
                border-radius: $border-radius-small;
                padding: 0.2rem 0.6rem;
    
                &:hover, &.active {
                    color: $text-hover;
                    background-color: $bg-hover;
                }
            }
        }
    }
}


.fade-in {
    animation: fadeIn ease 0.4s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    
    100% {
        opacity: 1;
    }
}