@use 'variables' as *;

body {
    background-color: var(--color2);
}

header {
    text-align: center;
    margin-bottom: 3rem;
    
    .title {
        position: absolute;
        transition: all 0.4s;

        &[data-home=true] {
            top: 38%;
            left: 50%;
            transform: translateX(-50%);

            h1 {
                font-size: 6rem;
                cursor: default;

            }

            p {
                font-size: 1rem;
                opacity: 1;
            }
        }

        &[data-home=false] {
            top: 2rem;
            left: 2rem;

            h1 {
                font-size: 1.5rem;

                a {
                    color: var(--text-main);
                }
            }

            p {
                font-size: 0.25rem;
                opacity: 0;
                visibility: hidden;
            }
        }

        h1 {
            font-weight: lighter;
            color: var(--text-main);
            white-space: nowrap;
            transition: all 0.4s;
        }
    
        p {
            color: var(--text-secondary);
            font-style: italic;
            cursor: default;
            transition: all 0.4s;
        }
    }


    nav {
        transition: all 0.4s;
        width: fit-content;
        margin: 0 auto;

        &[data-home=true] {
            transform: translateY(54vh);
        }

        &[data-home=false] {
            margin-top: 2rem;
            animation: $fade-in-animation;
        }

        ul {
            display: flex;
            gap: 1.5rem;
            font-size: 2rem;
            
            a {
                color: var(--text-secondary);
                transition: all 0.2s;
                border-radius: $border-radius-small;
                padding: 0.2rem 0.6rem;
    
                &:hover, &.active {
                    color: var(--text-hover);
                    background-color: var(--bg-hover);
                }
            }
        }
    }
}