@use '../../styles/variables' as *;

.container {
    width: 35%;
    margin: 0 auto;
    animation: $fade-in-animation;
    
    a {
        display: flex;
        align-items: center;
        gap: 0.6rem;
        margin-bottom: 1rem;

        img {
            width: 2rem;
            filter: invert(var(--icon-invert));
        }

        span {
            font-size: 1.4rem;
            color: var(--text-main);
            text-decoration: none;
            transition: color 0.4s;
            
            &:hover {
                color: var(--text-hover);
            }
        }
    }
}