@use '../../../styles/variables' as *;

.container {
    &:not(:last-child) {
        margin-bottom: 0.3rem;
    }

    .group-name {
        display: flex;
        align-items: center;
        gap: 0.6rem;
        font-size: 1.8rem;
        color: var(--text-secondary);
        transition: color 0.4s;
        cursor: pointer;
        margin-bottom: 0.5rem;
        
        img {
            width: 1.3rem;
            filter: invert(var(--arrow-invert));
            transition: all 0.4s;
        }

        &:hover, &[data-active=true] {
            color: var(--text-main);

            img {
                filter: invert(var(--arrow-active-invert));
            }
        }

        &[data-active=true] {
            img {
                transform: rotate(90deg);
            }
        }
    }

    .projects-wrapper {
        display: grid;
        overflow: hidden;
        transition: grid-template-rows 0.4s;
        grid-template-rows: 0fr;

        ul {
            margin-left: 1.3rem;
            min-height: 0;
    
            li {
                font-size: 1.6rem;
                cursor: pointer;
                border-radius: $border-radius-small;
                margin-bottom: 0.5rem;
                padding: 0.3rem 0.6rem;
                transition: background-color 0.2s;
    
                a {
                    text-decoration: none;
                    color: var(--text-main);
                    transition: color 0.2s;
                }
    
                &:hover, &[data-active=true] {
                    background-color: var(--bg-hover);  
                    
                    a {
                        color: var(--text-hover);
                    }
                }
            }
        }
    }

    &[data-active=true] {
        .projects-wrapper {
            grid-template-rows: 1fr;
        }
    }
}