@use '../../styles/variables' as *;

.container {
    width: 35%;
    margin: 0 auto;
    animation: $fade-in-animation;

    div {
        display: flex;
        align-items: center;
        gap: 0.6rem;
        color: var(--text-main);
        transition: color 0.4s;
        
        .envelope {
            width: 2rem;
            filter: invert(var(--icon-invert));
        }
        
        span {
            font-size: 1.4rem;
        }
        
        .clipboard {
            width: 1.4rem;
            filter: invert(var(--clipboard-invert));
            cursor: pointer;
        }
    }
}