@use '../../styles/variables' as *;

.container {
    width: 50%;
    margin: 0 auto;
    color: var(--text-main);
    animation: $fade-in-animation;
}

.info-header {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: var(--text-hover);
}

.info-content {
    margin-bottom: 3rem;
}