@use '../../../styles/variables' as *;

.container {
    border-radius: $border-radius-big;
    padding: 2rem;
    color: var(--text-main);
    animation: $fade-in-project-animation;
    background-color: var(--color1);
    border: 1px solid var(--color3);

    .result {
        color: var(--text-secondary);
        height: 1.5rem;
        font-size: 1.2rem;
        text-align: right;
        margin-bottom: 0.5rem;
    }

    input {
        color: var(--text-main);
        font-size: 1.4rem;
        border: none;
        background: none;
        text-align: right;
        margin-bottom: 0.5rem;
        outline: none;
        padding: 0;
    }

    .buttons {
        display: grid;
        grid-template-rows: repeat(5, 2rem);
        grid-template-columns: repeat(5, 3rem);
        row-gap: 0.5rem;
        justify-content: space-between;
        

        button {
            font-size: 1.2rem;
            color: var(--text-main);
            padding: 0;
            border-radius: $border-radius-small;
            border: none;
            cursor: pointer;
            background-color: var(--color3);
            transition: transform 0.1s;

            &:active {
                transform: translateY(4%);
            }

            &[data-type=operator] {
                background-color: var(--color4);
            }

            &[data-type=equals] {
                background-color: var(--color5);
            }
        }
    }
}